:root {
  --page-padding-h: 96px;
  --page-max-width: 1400px;

  --dashboard-max-width: 1024px;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title-small {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.title-large {
  font-weight: 700;
  font-size: 60px;
  line-height: 76px;
}

.subtitle-small {
  font-weight: 500;
  font-size: 21px;
  line-height: 22px;
}

.subtitle-large {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}

.body-xs {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.body-small {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.body-large {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.display-large {
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
}

.text-sm {
  font-size: 14px;
  line-height: 21px;
}
